<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Honolulu</title>
  <link rel="stylesheet" href="/css/index.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
  <script src="/js/hoga.js"></script>
  <script>
         $(document).ready(function(){
            $('#getMethod').click(function() {
               var get = 'GET METHOD CALL';
                //Ajax GET Method TEST
                $.ajax({
                      url: '/api/get',
                      dataType: 'json',
                      type: 'GET',
                      data: {data:get},
                      success: function(result) {
                          if (result) {
                            $('#get_output').html(result.result);
                          }
                     }
                  });
            });


            $('#postMethod').click(function() {
               var post = 'POST METHOD CALL';


                //Ajax POST Method TEST
                $.ajax({
                    url: '/api/post',
                      dataType: 'json',
                      type: 'POST',
                      data: {data:post},
                      success: function(result) {
                          if (result) {
                             $('#post_output').html(result.result);
                          }
                      }
                  });
            });
         });

      </script>
</head>

<body>
  <div id="main">
    <div id="hogaArea">
      <%= result %>
      <input type="text" id="itemName" placeholder="종목명을 입력해주세요..." onkeydown="JavaScript:touchEnter();">
      <button id="itemBtn" onClick="sendItemName()">Send</button>

      <table border="1" id="hogaTable">
        <thead>
          <th colspan="3">매도</th>
          <th colspan="3">매수</th>
        </thead>
        <tbody  id="hogaTableBody">
        </tbody>
      </table>

    </div>
    <div id="borderline"></div>
    <div id="chatArea">
      <div id="chat">
        <!-- 채팅 메시지 영역 -->
      </div>
      <input type="text" id="message" placeholder="메세지를 입력해주세요..." onkeydown="JavaScript:touchEnter();">
      <button onClick="sendMsg()">Send</button>
    </div>
  </div>
</body>

</html>
